<fieldset class="filtros">
    <legend class="filtros">Filter: </legend>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label >Code:</label>
                <input type="input" class="form-control" id="filtro_code" name="filtro_code"  placeholder="" data-index="0" data-type="text">            
            </div>
        </div> 
        <div class="col-md-3">
            <div class="form-group">
                <label >Name:</label>
                <input type="input" class="form-control" id="filtro_name" name="filtro_name"  placeholder="" data-index="1" data-type="text">            
            </div>
        </div>              
        <div class="col-md-1 mt-4">         
            <button type="button" id="btn_reset" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Limpiar Filtros">
                Clear            
            </button>
        </div>        
    </div>    
</fieldset>
<hr>
<br/>